.page404 {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding-left: 140px;
  padding-top: 70px;
}

.page404__message {
  text-align: center;
  color: orange;
}
.page404__number {
  display: inline-block;
  margin-bottom: 20px;

  font-size: 120px;
  line-height: 140px;
}
.page404__text {
  display: inline-block;
  margin-bottom: 40px;

  font-size: 40px;
  line-height: 60px;
}

.page404__button {
  display: inline-block;

  width: 120px;
  height: 42px;

  margin-bottom: 10px;
  margin: 0 auto;
  padding: 5px;

  box-sizing: border-box;

  background-color: transparent;

  border: 1px solid orange;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  color: orange;
}

.page404__button:hover {
  animation: pulse-orange 1s;
  box-shadow: 0 0 0 10px rgba(#fff, 0);
}

.page404__button:focus {
  outline: 1px solid rgb(41, 146, 231);
  border-color: rgb(41, 146, 231);
}

.page404__button:active {
  opacity: 0.3;
  outline-color: orange;
  border-color: orange;
}

@keyframes pulse-orange {
  0% {
    box-shadow: 0 0 0 0 orange;
  }
}

@media (max-width: 1018px) {
  .page404 {
    padding: 70px 20px 0px 20px;
  }
}

@media (max-width: 918px) {
  .page404 {
    padding: 150px 20px 0px 20px;
  }
}

@media (max-width: 680px) {
  .page404 {
    padding: 40px 20px 0px 20px;
  }

  .page404__number {
    display: inline-block;
    margin-bottom: 20px;

    font-size: 100px;
    line-height: 120px;
  }

  .page404__text {
    display: inline-block;
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 50px;
  }
}
