.gallery__controls {
  margin: 0 auto;
  box-sizing: border-box;
}

.gallery__controls-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
}

.gallery__size-select {
  border: 2px solid orange;

  background-color: #2c3e50;

  color: orange;
}

.gallery__button:disabled {
  border-color: gray;
  color: gray;
}

.gallery__button--favorite,
.gallery__button--copy,
.gallery__button--close {
  position: static;

  display: inline-block;

  width: auto;
  height: auto;

  padding: 1px 4px;

  color: orange;

  border: 2px solid orange;
  background-color: transparent;
}

.gallery__button--copy {
  margin-left: 10px;
}
