.gallery__controls {
  margin: 0 auto;
  box-sizing: border-box;
}

.gallery__controls-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
}

.gallery__size-select {
  border: 2px solid orange;

  background-color: #2c3e50;

  color: orange;
}

.gallery__button:disabled {
  border-color: gray;
  color: gray;
}

.gallery__button--favorite,
.gallery__button--copy,
.gallery__button--close {
  position: static;

  display: inline-block;

  width: auto;
  height: auto;

  padding: 1px 4px;

  color: orange;

  border: 2px solid orange;
  background-color: transparent;
}

.gallery__button--copy {
  margin-left: 10px;
}

$heart-color: Gray;

.gallery__icon--heart {
  background-color: $heart-color;
  display: inline-block;
  height: 10px;
  margin: 0 10px 0 6px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 10px;
}

.gallery__icon--heart:before,
.gallery__icon--heart:after {
  content: "";
  background-color: $heart-color;
  border-radius: 50%;
  height: 10px;
  position: absolute;
  width: 10px;
}

.gallery__icon--heart:before {
  top: -6px;
  left: 0;
}

.gallery__icon--heart:after {
  left: 6px;
  top: 0;
}

.gallery__icon--favorite,
.gallery__icon--favorite:after,
.gallery__icon--favorite:before {
  background-color: orange;
}

.gallery__button:hover,
.gallery__size-select:hover {
  animation: pulse-orange 1s;
  box-shadow: 0 0 0 10px rgba(#fff, 0);
}

.gallery__button:focus,
.gallery__size-select:focus {
  outline: 1px solid rgb(41, 146, 231);
  border-color: rgb(41, 146, 231);
}

.gallery__button:active,
.gallery__size-select:active {
  opacity: 0.3;
  outline-color: orange;
  border-color: orange;
}

.gallery__button:disabled:hover {
  animation: none;
  box-shadow: none;
}
