.catalogue__message--request,
.catalogue__message--amount {
  color: orange;
}

.catalogue__message--request {
  margin-right: 20px;
  text-transform: uppercase;
}

.catalogue__message--amount {
  text-transform: uppercase;
}

.catalogue__message--error {
  color: #ff5400;
}

@media (max-width: 918px) {
  .catalogue__status-wrapper {
    font-size: 14px;
    line-height: 20px;
  }
}
