.app__item-wrapper {
  position: relative;
  width: 840px;
  padding-left: 140px;
}

@media (max-width: 1018px) {
  .app__item-wrapper {
    width: 850px;
    padding: 54px 0px 0 0;
  }
}

@media (max-width: 918px) {
  .app__item-wrapper {
    width: 640px;
    padding: 44px 0px 0 0;
  }
}
