.item {
  position: absolute;

  display: inline-block;

  background: repeating-linear-gradient(
    45deg,
    rgba(119, 119, 119, 0.4),
    rgba(119, 119, 119, 0.4) 10px,
    transparent 10px,
    transparent 20px
  );
}

.item:focus {
  outline: 2px solid rgb(41, 146, 231);
  border-color: rgb(41, 146, 231);
}
