.app__navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 70px;
}

.navigation__button {
  display: inline-block;

  width: 120px;
  height: 42px;
  margin-bottom: 10px;

  box-sizing: border-box;

  padding: 5px;

  background-color: transparent;

  border: 1px solid orange;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  color: orange;

  cursor: pointer;
}

.navigation__button:hover {
  animation: pulse-orange 1s;
  box-shadow: 0 0 0 10px rgba(#fff, 0);
}

.navigation__button--about:focus,
.navigation__button:focus {
  outline: 1px solid rgb(41, 146, 231);
  border-color: rgb(41, 146, 231);
}

.navigation__button:active {
  opacity: 0.3;
  outline-color: orange;
  border-color: orange;
}

@keyframes pulse-orange {
  0% {
    box-shadow: 0 0 0 0 orange;
  }
}
