.app__navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 70px;
  padding-top: 10px;
}

.navigation__button {
  display: inline-block;

  width: 120px;
  height: 42px;
  margin-bottom: 10px;

  box-sizing: border-box;

  padding: 5px;

  background-color: transparent;

  border: 1px solid orange;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  color: orange;

  cursor: pointer;
}

.navigation__button:hover {
  animation: pulse-orange 1s;
  box-shadow: 0 0 0 10px rgba(#fff, 0);
}

.navigation__button--about:focus,
.navigation__button:focus {
  outline: 1px solid rgb(41, 146, 231);
  border-color: rgb(41, 146, 231);
}

.navigation__button:active {
  opacity: 0.3;
  outline-color: orange;
  border-color: orange;
}

@keyframes pulse-orange {
  0% {
    box-shadow: 0 0 0 0 orange;
  }
}

@media (max-width: 1018px) {
  .app__navigation {
    flex-direction: row;
    margin: 0 45px 0 0;
    padding-top: 0px;
  }

  .navigation__button {
    width: 100px;
    margin: 0 10px 0 0;
  }
}

@media (max-width: 918px) {
  .app__navigation {
    position: absolute;
    top: 46px;
    right: 0;

    width: 100%;
    justify-content: center;

    margin: 0px;
    padding: 1px 0;

    background-color: #2c3e50;
  }

  .navigation__button {
    width: 80px;
    height: 36px;

    padding: 0px;
    margin: 0 10px 0 0;

    font-size: 16px;
    line-height: 20px;
  }

  .navigation__button--about {
    margin: 0 0 0 0;
  }
  .navigation__button--about {
    padding-top: 6px;
  }
}

@media (max-width: 680px) {
  .app__navigation {
    top: 34px;
  }
}
