.app__search-button {
  position: relative;
  width: 60px;
  height: 36px;

  box-sizing: border-box;

  margin-left: 10px;
  padding: 0px;

  border: 2px solid orange;

  background-color: transparent;
  cursor: pointer;
}

.app__search-field {
  width: 100%;
  height: 36px;

  box-sizing: border-box;

  margin-left: 10px;
  padding: 0 10px;

  border: 2px solid orange;

  background-color: transparent;

  color: #ffffff;
  cursor: pointer;
}

.app__search-button:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 21px;

  width: 15px;
  height: 15px;

  border: 2px solid orange;
  border-radius: 50%;

  background-color: transparent;
}

.app__search-button:disabled,
.app__search-button:disabled:after {
  border-color: gray;
  cursor: auto;
}

.app__search-button:before {
  content: "";
  position: absolute;
  top: 14px;
  left: 15px;

  width: 2px;
  height: 16px;

  background-color: orange;

  transform: rotate(55deg);
}

.app__search-button:disabled:before {
  background-color: gray;
}

.app__search-button:hover,
.app__search-field:hover {
  animation: pulse-orange 1s;
  box-shadow: 0 0 0 10px rgba(#fff, 0);
}

.app__search-button:disabled:hover {
  animation: none;
  box-shadow: none;
}

.app__search-button:focus,
.app__search-field:focus {
  outline: 1px solid rgb(41, 146, 231);
  border-color: rgb(41, 146, 231);
}

.app__search-button:active,
.app__search-field:active {
  opacity: 0.3;
  outline-color: orange;
  border-color: orange;
}

@keyframes pulse-orange {
  0% {
    box-shadow: 0 0 0 0 orange;
  }
}
