.app__gallery {
  position: fixed;
  top: center;
  left: center;
  z-index: 1;

  display: inline-block;
  width: 800px;
  padding: 20px;

  background-color: black;

  border: 1px solid blueviolet;
}
