.app__contacts-wrapper {
  width: 100%;
  padding-left: 150px;

  color: #bac5d0;
}

.about__link--github,
.about__link--github:visited {
  color: orange;
}

.about__link--github:hover {
  color: rgb(41, 146, 231);
}

.about__link--github:focus {
  color: orange;
  outline: 2px solid rgb(41, 146, 231);
}

.about__link--github:active {
  color: orange;
  opacity: 0.3;
}

.about__app-description {
  margin-bottom: 20px;
}

.about__giphy {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 40px;
}

.about__author-info {
  margin-bottom: 10px;
}

.about__link--giphy:focus,
.about__link--giphy:hover {
  outline: 2px solid rgb(41, 146, 231);
}

@media (max-width: 1018px) {
  .app__contacts-wrapper {
    width: 100%;
    padding: 80px 20px 0 20px;

    color: #bac5d0;
  }
}

@media (max-width: 918px) {
  .app__contacts-wrapper {
    padding: 50px 20px 0 20px;
  }
}

@media (max-width: 680px) {
  .app__contacts-wrapper {
    text-align: center;
  }
  .about__giphy {
    margin-bottom: 2px;
  }

  .about__author {
    margin-top: 10px;
  }
}
