.app__item-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  border: 1px solid green;
}

.catalogue__wrapper {
  position: relative;

  width: 820px;

  border: 1px solid red;
}

.catalogue__button-wrapper {
  position: absolute;
  left: 45%;

  padding: 20px;
}

.catalogue__status {
  padding: 10px;
}

.catalogue__button--more {
}
