.app__item-list {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  border: 1px solid green;
}

.catalogue__wrapper {
  position: relative;

  width: 820px;

  border: 1px solid red;
}

.catalogue__button-wrapper {
  position: absolute;
  left: 45%;

  padding: 20px;
}

.catalogue__status {
  padding: 10px;
}

.catalogue__button--more {
  display: inline-block;

  width: 120px;
  height: 42px;

  box-sizing: border-box;

  padding: 5px;

  background-color: transparent;

  border: 1px solid orange;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  color: orange;
}

.catalogue__button--more:hover {
  border-left-color: transparent;
  border-right-color: transparent;
}
