.app__item-list {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  border: 1px solid green;
}

.catalogue__wrapper {
  position: relative;

  width: 840px;

  border: 1px solid red;
}

.catalogue__button-wrapper {
  position: absolute;
  left: 366px;

  padding: 20px;
}

.catalogue__status {
  padding: 10px;
}

.catalogue__button--more {
  display: inline-block;

  width: 120px;
  height: 42px;

  box-sizing: border-box;

  padding: 5px;

  background-color: transparent;

  border: 1px solid orange;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  color: orange;
  cursor: pointer;
}

.catalogue__button--hidden {
  opacity: 0;
}

.catalogue__button--more:hover {
  animation: pulse-orange 1s;
  box-shadow: 0 0 0 10px rgba(#fff, 0);
}

.catalogue__button--more:focus {
  outline: 1px solid rgb(41, 146, 231);
  border-color: rgb(41, 146, 231);
}

.catalogue__button--more:active {
  opacity: 0.3;
  outline-color: orange;
  border-color: orange;
}

@keyframes pulse-orange {
  0% {
    box-shadow: 0 0 0 0 orange;
  }
}

@media (max-width: 1018px) {
  .app__item-list {
    align-items: flex-start;
  }
  .catalogue__status-wrapper {
    margin: 0 auto;
  }

  .catalogue__status {
    padding: 6px;
  }
}

@media (max-width: 918px) {
  .catalogue__wrapper {
    width: 630px;
  }
  .catalogue__button-wrapper {
    left: 260px;

    padding: 10px;
  }
}

@media (max-width: 680px) {
  .catalogue__wrapper {
    width: 420px;
  }

  .catalogue__button-wrapper {
    left: 176px;

    padding: 10px;
  }

  .catalogue__button--more {
    width: 80px;
    height: 30px;

    padding: 5px;

    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 470px) {
  .catalogue__wrapper {
    width: 220px;
    margin: 0 auto;
  }

  .catalogue__button-wrapper {
    left: 70px;
  }

  .catalogue__status {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
  }
  .catalogue__message--request {
    margin-right: 0px;
  }
}
